/* Universal */
body {
    --sbw: 0;
}
html, body {
    height: 99%;
    margin: 0;
}

body {
    background-image: url("img/background.png");
}

button:hover {
    cursor: pointer;
}

::selection {
    background-color: #8dd4f1;
    color: whitesmoke;
  }


/* Right Panel */
.rightpanel {
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 1.2%;
    float: right;
    height: 93%;
    display: none;
}

.logo {
    background-image: url("img/logo.png");
    background-color: #00000000;
    background-size: 100%;
    border: none;
    outline: none;
    float: right;
    width: 378px;
    height: 100px;
}

.smolbutton {
    position: relative;
    margin-top: 15px;
    width: 31px;
    height: 31px;
    border: none;
    outline: none;
    box-shadow: 0 0 4px -1px #040404;

    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 4px 4px;
    transition-duration: 200ms;
    z-index: 5;
}

.add {
    float: right;
    clear: right;
    background-color: #46cd38;
    background-image: url("img/plusicon.png");
}
.add:hover {
    background-color: #3db431;
}
.add:active {
    background-color: #359a2a;
}

.favorites {
    float: right;    
    margin-right: 6px;
    background-color: #f591ef;
    background-image: url("img/favoriteiconwhite.png");
}
.favorites:hover {
    background-color: #dc82d6;

}
.favorites:active {
    background-color: #c273bd;
}

.searchbox {
    float: right;
    background-color: #232323;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: #5da4e1;
    width: 350px;
    height: 30px;
    border-width: 0px;
    margin-top: 15px;
    margin-right: 6px;

    padding-left: 36px;
    color: #5da4e1;
    background-image: url("img/searchicon.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px 6px;
    font-size: 20px;
}

/* Contact List Stuff */
.contactitemlist {
    position: relative;
    float: right;
    clear: right;
    right: -15px;
    margin-top: 50px;
    width: 125%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 73%;
    --sbw: 0;
    /*(for firefox)*/
    scrollbar-width: none;
    scrollbar-color: #232323 #555555;
}

.contactitemlist:hover {
    --sbw: 10px;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: var(--sbw);
    background-color: #232323;
}
::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3b3b3b;
}
::-webkit-scrollbar-thumb:active {
    background-color: #151515;
}

.contactitem {
    margin-bottom: 12px;
    position: relative;
    right: -100px;
    width: 460px;
    height: 75px;
}
.contactitem:last-child {
    margin-bottom: 0;
}

.contactitem .base {
    float: right;
    background-color: #319626;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-image: url("img/contactpanel.png");
    background-size: 100% 100%;
    box-shadow: 0 0 8px -1px #040404;

    padding-left: 160px;
    text-align: left;
    font-size:40px;
    color: #319626;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 25px;
    transition-duration: 200ms;
}

.contactitem .base:focus {
    background-image: url("img/contactpanelselected.png");
    box-shadow: 0 0 8px 2px #5da4e1;
}

.contactitem .base span{
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 3px;
}

.contactitempp {
    position: absolute;
    width: 143px;
    height: 100%;
    clip-path: polygon(0% 0%, 74% 0%, 100% 100%, 28% 100%);
}

.contactitem .fav {
    position: absolute;
    width: 4.25%;
    height: 25%;
    right: .10%;
    top: 4%;
    background-image: url("img/favoriteiconyellow.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #00000000;
    outline: none;
    border: none;
}

.contactletterdiv {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 20px;
    top: 40px;
    height: 30px;
    font-size: 50px;
    white-space: nowrap;
    color: #5da4e1;
}

.contactletterdiv:first-child {
    height: 0;
    top: 8px;
}

/* Left Panel */
.leftpanel {
    position: fixed;
    left: -1050px;
    transform: translateX(1050px);
    opacity: 1;
    width: 50%;
    height: 100%;
    background-image: url("img/sidepanel.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    animation-timing-function: cubic-bezier(0, .85, .31, .99);
}

.leftpanelcover {
    display: none;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    transition-duration: 1000ms;
    z-index: 8;
}

@keyframes initial-leftpanel-slide {
    0% { 
        transform: translateX(0px); 
        opacity: 0;
    }

    100% { 
        transform: translateX(1050px); 
        opacity: 1;
    }
}

@keyframes swap-leftpanel-slide {
    0% {
        opacity: 1;
        transform: translateX(1050px);
    }
    35% {
        opacity: 0;
        transform: translateX(1050px);
    }
    35.1% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(1050px);
    }
}

.delete {
    float: left;
    margin-left: 12px;
    left: .5%;
    background-color: #f03737;
    background-image: url("img/trashicon.png");
}
.delete:hover {
    background-color: #bd2b2b;
}
.delete:active {
    background-color: #aa2020;
}

.login button {
    width: 20%;
    height: 65px;
    margin-top: 40%; 
    top: 100px;
    font-size: 35px;
    color: whitesmoke;
    background-color: #232323;
    outline: none;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: #232323;
    transition-duration: 200ms;
}
.login button:hover {
    background-color: #292929;
}

.login form {
    position: absolute;
    margin-top: 3%;
    margin-left: 5.5%;
    font-size: 35px; 
    font-style: normal;
    font-weight: 50;
    color: #232323;
    font-family: sans-serif;
    line-height: 265%;
    width: 100%;
}

.login form.loginform {
    animation-timing-function: cubic-bezier(0, .85, .31, .99);
}

.login form.registerform {
    width: 100%;
    left: 70%;
    animation-timing-function: cubic-bezier(0, .85, .31, .99);
    opacity: 0;
}

@keyframes loginform-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-70%);
    }
}
@keyframes loginform-in {
    from {
        opacity: 0;
        transform: translateX(-70%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes registerform-in {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-70%);
    }
}
@keyframes registerform-out {
    from {
        opacity: 1;
        transform: translateX(-70%);
    }
    to {
        opacity: 0;
        transform: translateX(0);
    }
}


.login form input {
    font-size: 40px; 
    width: 40%;
    padding-left: 1%;
    font-style: normal;
    font-weight: 50;
    background-color: #232323;
    border: none;
    color: whitesmoke;
    font-family: sans-serif;
    vertical-align: -8%;
}

.login form .loginbutton {
    position: relative;
    font-size: 30px;
    height: 60px;
    width: 64%;
}

.login form text {
    margin-left: 10%;
}

.login img {
    position: absolute;
    width: 70%;
    top: 13%;
    left: 5.5%;
}

.welcome {
    display: none;
    width: 100%;
    height: 1vh;
    margin-top: 37%;
    margin-left: 3%;
    margin-bottom: 0%;
    text-align: left;
}

.welcome button {
    position: absolute;
    width: 150px;
    height: 100px;
    top: 0;

    background-image: url("img/logouticon.png");
    background-color: #00000000;
    background-repeat: no-repeat;
    background-size: 30%;
    border: none;
    outline: none;
    background-position-y: 47%;


    font-size: 175%;
    color: whitesmoke;
    padding-left: 5%;
}


.welcome text:first-child{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 30;
    letter-spacing: 10px;
}

.welcome text:last-child{
    color: #232323;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 30;
    letter-spacing: 7px;
    line-height: 150%;
}

.contactdetails {
    display: none;
    position: absolute;
    left: 0;
    width: 90%;
    height: 100%;
    opacity: 1;
    transition: 1s opacity;
}

.contactdetails .nameerrormsg {
    position: relative;
    top: 73%;
    left: 42.5%;
    color: red; 
    font-size: 15px;
    display: none;
}

.contactdetails .phoneerrormsg {
    position: relative;
    top: 100%;
    left: 12.5%;
    color: red;
    font-size: 15px;
    display: none;
}

.contactdetails h1 {
    float: left;
    margin: 0; 
}
.contactdetails h2 {
    position: absolute;
    margin-top: 3.5%;
    float: left;
    margin-bottom: 0;
    width: 90%;
    height: 45%;
}

.contactdetails h2 input {
    background-color: #ffdead;
}

.contactdetails h2 input:invalid {
    border: 2px dashed red;
}

.contactdetails h2 input:valid {
    border: 2px solid black;
}

.pp-frame {
    position: absolute;
    display: inline-block;
    height: 100%;
    left: 0;
    z-index: -1;
}
.pp-picture {
    left: 3.5%;
    top: 6.25%;
    height: 90%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.contactdetails h2 text {
    position: relative;
    top: 80%;
    left: 40%;
    width: 200%;
    font-size: 55px; 
    font-style: normal;
    font-weight: 50;
    color: whitesmoke;
    font-family: sans-serif;
    letter-spacing: 7px;
    overflow: hidden;
    white-space: nowrap;
}

h2 .contactdetailsitem:disabled {
    background: none;
    border-block-color: none;
    color: whitesmoke;
    font-weight: 300;
    transition-duration: 200ms;
    border: 0;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

h2 input {
    position: absolute;
    top: 80%;
    left: 40%;
    font-size: 55px; 
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 50;
    color: #232323;
    font-family: sans-serif;
    letter-spacing: 7px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 67%;
    outline-color: #5da4e1;
}

h3 .contactdetailsitem:disabled {
    background: none;
    color: #232323;
    font-weight: 300;
    transition-duration: 200ms;

    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

h3 input {
    background-color: #232323;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: #5da4e1;
    padding-left: 1%;
    border-width: 0px;
    color: whitesmoke;
    font-size:35px;
    font-weight: 100;
    letter-spacing: 7px;
    resize: none;

    transition-duration: 200ms;
}

.phone:invalid {
    border: 2px dashed red;
}

.phone:valid {
    border: 2px solid black;
}

.favcolor{
    background-color: #232323;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: #5da4e1;
    border-width: 0px;
    padding-left: 1%;
    color: whitesmoke;
    font-size:30px;
    font-weight: 100;
    letter-spacing: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 15%;
    resize: none;
}

.birthday {
    background-color: #232323;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: #5da4e1;
    border-width: 0px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 7px;
    width: 42%;
    resize: none;
}

.contactdetails h3 {
    position: absolute;
    top: 47.5%;
    letter-spacing: 20px;
    margin-top: 2%;
    margin-bottom: 0px;
}

.contactdetails h3 img {
    margin-left: 20px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    vertical-align: -10px; 
}

.contactdetails h3 text {
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 7px;
    font-family: sans-serif;
}

.notes {
    float: left;
    background-color: #232323;
    padding-left: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: #5da4e1;
    border-width: 0px;
    margin-top: 15px;
    margin-left: 20px;
    color: whitesmoke;
    font-size:20px;
    resize: none;
}

.edit {
    float: left;
    margin-left: 6px;
    background-color: #ffe760;
    background-image: url("img/editicon.png");
}
.edit:hover {
    background-color: #ccb94d;
}
.edit:active {
    background-color: #998b3a;
}

/*Pop-up Panel*/

.popup {
    position: relative;
    display: none;
    width: 43%;
    z-index: 10;    
}

.popup img {
    width: 100%;
    height: auto;
}

.popup .btn1 {
    position: absolute;
    top: 55%;
    left: 36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #232323;
    color: whitesmoke;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 20px;
    letter-spacing: 7px;
}

.popup .deletemsg {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: #232323;
    font-size: 20px;
    font-weight: 20px;
    letter-spacing: 7px;
    width: 50%;
}

.popup .pun {
    position: absolute;
    top: 67.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 11px;
    letter-spacing: 5px;
    color: whitesmoke;
}

.popup .btn2 {
    position: absolute;
    top: 55%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #232323;
    color: whitesmoke;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 20px;
    letter-spacing: 7px;
}



.popup .btn1:hover{
    background-color: black;
}

.popup .btn2:hover{
    background-color: black;
}

@keyframes popup-grace-the-room-with-its-presence {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.cancel {
    float: left; 
    margin-left: 12px;
    left: .5%;
    background-color: #f03737;
    background-image: url("img/cancelicon.png");
    display: none;
}
.cancel:hover {
    background-color: #bd2b2b;
}
.cancel:active {
    background-color: #aa2020;
}
.cancel:disable {
    opacity: 0; 
}

.save {
    float: left; 
    margin-left: 6px;
    background-color: #0d71fc;
    background-image: url("img/saveicon.png");
    display: none;
}
.save:hover {
    background-color: #0650b8;
}
.save:active {
    background-color: #054196;
}
.save:disable {
    opacity: 0; 
}